MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
MINIO_ENDPOINT_SECURE=
MINIO_IS_PUBLIC_BUCKET=true
MINIO_PRESIGNED_URL_EXPIRY_DAYS=7

GEMINI_API_KEY=
OPENROUTER_API_KEY=
OPENROUTER_URL=https://openrouter.ai/api/v1/chat/completions
